<div class="row">
	<div class="col-xs-4">
		<h2>Forgot your password?</h2>

		<%= form_for(:password_reset, url: password_resets_path) do |f| %>

			<%= f.label :email %><br>
			<%= f.email_field :email %><br>

			<%= f.submit "Send me reset password instructions",
							class: "btn btn-danger" %>
		<% end %>

		<p><%= link_to "Log in", users_sign_in_path %></p>
	    <p><%= link_to "Sign up", users_sign_up_path %></p>
	</div>
</div>
