<div class="row">
	<div class="col-xs-3">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/postbook_form' %>
		</section>
	</div>

	<div class="col-xs-9">
		<h2>Books</h2>

		<table class="table">
			<thead>
			    <tr>
				  <th></th> <th>Title</th> <th>Opinion</th>
			    </tr>
		    </thead>
		    <tbody>
		    	<% @postbooks.each do |postbook| %>
		    	<tr>
					<td><%= link_to user_path(postbook.user.id) do %>
					<span><%= attachment_image_tag postbook.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg",size:'40x40' %></span>
					<% end %>
					</td>
					<td><%= link_to postbook.title, postbook_path(postbook) %></td>
					<td><%= postbook.body %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>