<div class="row">
	<div class="col-xs-3">
		<section class="user_info">
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/postbook_form' %>
		</section>
	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<tr>
				<td><%= link_to user_path(@user) do %>
				<span> <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg",size:'100x100' %> </span><br><br><br><br><br>
				<span><%= @user.name %></span>
				<% end %>
			    </td>
				<td><%= link_to postbook_path(@post) do %>
						<span><%= @post.title %></span>
					<% end %>
				</td>
				<td><%= @post.body %></td>
				<td><%= link_to edit_postbook_path(@post) do %>
						<span class="btn-sm btn-success">Edit</span>
					<% end %>
				</td>
				<td><%= link_to postbook_path(@post), method: :delete do %>
						<span class="btn-sm btn-danger">Destroy</span>
					<% end %>
				</td>
			</tr>
	    </table>
	</div>
</div>
